[submodule "commons"]
	path = commons
	url = git@github.com:xcodeassociated/CloudNativeTemplateCommons.git
[submodule "events"]
	path = events
	url = git@github.com:xcodeassociated/CloudNativeTemplateEvents.git
